<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confrirm Email</title>
    <style>
        .message {
            text-align: center;
        }
      .logo {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: bold;
      }
      .link {
        padding-top: 10px;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="message">
      <p class="logo">
        GET YOUR RIDE 
      </p>
      <hr />
      <a class="link" href="http://localhost:5173/confirmEmail?confirmToken=<%=token%>">Click here to confirm your email!</a>
     
    </div>
  </body>
</html>
