<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <title>Password Reset</title>
    <%- await include('resetEmailStyles.ejs') %>
    
</head>
<body>
    <div class="email-reset-form">
        <div class="info_text">
            <h1>GET<br/>YOUR RIDE!</h1>
            <span>START YOUR JOURNEY!</span>
            </div>
            <div class="message_section">
                <p>Reset link will be valid for 15 minutes!</p>
                <a href="http://localhost:5173/passwordReset?resetToken=<%= token %>" target="_blank" title="Click to reset password">
                    <div class="update_password_section">
                        <p>Password Reset</p>    
                    </div>
                </a>
            </div>
        <div class="log-page-logo">
            <div class="logo-class">
                <h2>Get Ride</h2>
            </div>
              <p>OurDomain.com</p>
        </div>
        
    </div>
</body>
</html>