.searchHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
}

.passengerInputContainer {
  position: relative;
  width: 100%;
}

.buttonToggle {
  position: absolute;
  right: 27%;
  top: 25%;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c85e39;
  background-color: transparent;
  width: 20px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.buttonToggle:hover {
  background-color: transparent;
}
