header {
  display: flex;
  align-items: center;
  padding: 32px 100px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 22px;
  /* color: #e88553; */
}

.navLink {
  color: #d0bead;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.activeNavLink {
  color: #e88553;
  font-weight: bold;
}

.headerLogo {
  width: 150px;
  height: 90px;
}

.headerButtons {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
    padding: 20px;
  }

  .navLink {
    margin: 0 20px;
  }

  .headerButtons {
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }

  .headerLogo {
    width: 120px;
    height: auto;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 20px 50px;
  }

  .headerLogo {
    width: 100px;
    height: 70px;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
    padding: 20px;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 40px 120px;
  }
}
