.input-container {
    position: relative;
    margin: 20px 0;
    z-index: 1;

  }

  .input-container input {
    width: 100%;
    padding: 16px 16px 16px 24px;
    border: 2px solid #1a2b335b;
    border-radius: 9px;
    font-size: 17px;
    box-sizing: border-box;
    background-color: #EF965D;
    color: #1A2B33;
  }
  .input-container input:active{
    border: 2px solid #1A2B33;
}
.input-container input::placeholder {
  color: rgba(85, 79, 79, 0.485);
}


  .input-container label {
    position: absolute;
    top: -10px;
    left: 24px;
    background-color: #EF965D;
    padding: 0 5px;
    font-size: 15px;
    color: rgba(85, 79, 79, 0.485) ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

  }

