.input {
  width: 250px;
  padding: 10px;
  border-radius: 9px;
  font-size: 16px;
  margin: 7px;
  background-color: #d0bead;
  color: #1a2b33;
  outline: none;
}

.input:focus::placeholder {
  visibility: hidden;
}
