.contact-button {
  font-size: 18px;
  font-weight: 700;
  padding: 12px 24px;
  background-color: #fe8455;
  color: rgb(226, 223, 223);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
}

.contact-button:disabled {
  background-color: #e29f86;
  cursor: not-allowed;
}

.contact-button:hover {
  background: #c85e39;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contact-button {
    font-size: 15px;
    padding: 10px 20px;
    min-width: 100px;
  }
}
